.DS_Store
.idea
.vscode
*.log
*.a
*.o
*.so
*.egg-info
__pycache__
tmp/

.cache
compile_commands.json
build
log/falcon.*
stats.out

cloud_native/docker_build/falconfs
cloud_native/falcon_cm/cm/__pycache__
cloud_native/falcon_cm/postgres/__pycache__
cloud_native/falcon_cm/tool/__pycache__
cloud_native/falcon_cm/utils/__pycache__
tests/regress/falconfs
tests/falcon_cm/__pycache__

falcon/connection_pool/fbs
falcon/brpc_comm_adapter/proto
